.app {
  position: absolute;
  left: 37%;
  top: 5%;
  inline-size: 200px;
  line-height: 90px;
  text-align: center;
  height: fit-content;
  width: 450px;
  background-color: rgba(252, 247, 241, 0.37);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.app h1 {
  font-size: 50px;
}

.app button {
  width: 40%;
  height: 50px;
  font-size: 25px;
  font-weight: bolder;
  border: 1.5px solid rgb(121, 120, 120);
  border-radius: 5px;
}

.app input {
  width: 78%;
  height: 50px;
  margin-left: -5px;
  font-size: 20px;
}

.selected {
  background-color: rgb(248, 87, 194);
  color: white;
}

.submitbutton {
  background-color: rgb(248, 87, 194);
  color: aliceblue;
  border-radius: 10px;
}

.sentence {
  line-height: 0px;
  font-size: 20px;
  margin-top: -5px;
  margin-right: 240px;
  color: red;
  padding-bottom: 20px;
}

.sentence2 {
  line-height: 0px;
  font-size: 20px;
  margin-top: -5px;
  color: #8a8989;
}

.redBorder {
  border: solid red;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #828080;
  border-radius: 10px;
}

.app legend {
  border: 'none';
  line-height: 0px;
  margin-bottom: -7px;
  margin-left: 40px;
  text-align: left;
  color: rgb(250, 40, 40);
  font-size: smaller;
  padding-top: 8px;
}

.mName {
  border-style: dashed;
}

input[name='middleName'] {
  border-style: dashed;
}
