.dropbtn {
  background: none;
  position: relative;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.SearchInput {
  width: 180px;
  height: 35px;
  display: inline-block;
  font-size: 20px;
  background-color: whitesmoke;
}

.selected {
  background-color: #70c85ecc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(226, 252, 226);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-align: left;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  height: 75px;
  font-size: 50%;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 100, 0, 1.5);
  margin: auto;
}

.show {
  display: block;
  overflow: auto;
  overflow-x: hidden;
  height: 400px;
}

.arrow {
  position: absolute;
  margin-left: 10px;
  margin-top: -7px;
  transform: translateY(-50%) rotate(45deg); /* rotate arrow */
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-color: rgb(187, 251, 187);
  display: inline;
}
